<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">

	<targets>
		<default-wrapper xsi:type="ImpersonatingWrapper" revertToSelf="true"/>
		<target name="null" xsi:type="Null" />
		<target name="ds" xsi:type="OutputDebugString" layout="${longdate} [${threadid}:${threadname}] ${level} ${callsite} ${message} ${exception:format=ToString}"/>
		<target name="livefile" xsi:type="File" fileName="C:/smartSERVER Live.txt" layout="${log4jxmlevent}"/>
		<target name="file" xsi:type="File" fileName="C:/logs/${gdc:item=LogFilePath}" layout="${longdate} [${threadid}:${threadname}] ${level} ${callsite} ${message} ${exception:format=ToString}"/>
		<target name="adsdbtarget" xsi:type="File" fileName="C:/smartSERVER ADS DB.txt" layout="${logger} ${longdate} [${threadid}:${threadname}] ${level} ${callsite} ${message} ${exception:format=ToString}"/>
	</targets>

	<rules>		
		<logger name="*" minlevel="Trace" writeTo="ds" />
	</rules>
</nlog>
